<launch>
  <arg name="use_mobile_base" default="true"/>
  <arg name="gazebo_sim"      default="false" doc="Set to true for Gazebo simulation"/>

  <arg     if="$(arg use_mobile_base)" name="mb_suffix" value="_with_mobile_base"/>
  <arg unless="$(arg use_mobile_base)" name="mb_suffix" value=""                 />

  <!-- Sot Controller configuration -->
  <rosparam command="load" file="$(find roscontrol_sot_tiago)/config/sot_tiago_controller.yaml" />
  <rosparam command="load" file="$(find roscontrol_sot_tiago)/config/sot_tiago_params$(arg mb_suffix).yaml"/>

  <!--
  This is commented out since the file only contains the parameter simulation_mode.
  If the difference between gazebo and the real robot increases, then one can add two files
  `config/sot_tiago_params_gazebo.yaml` and `config/sot_tiago_params_gazebo_with_mobile_base.yaml`.
  <rosparam if="$(arg gazebo_sim)" command="load" file="$(find roscontrol_sot_tiago)/config/sot_tiago_params_gazebo$(mb_suffix).yaml"/>
  -->
  <param if="$(arg gazebo_sim)" name="/sot_controller/simulation_mode" value="gazebo"/>

  <rosparam     if="$(arg use_mobile_base)" command="load" ns="/sot_controller/velocity_control_pd_motor_init" file="$(find roscontrol_sot_tiago)/config/pids_velocity.yaml"/>

  <!-- Spawn SoT controller -->
  <node name="sot_controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="sot_controller" />

</launch>

